<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="HCA">
  <test name="Test">
    <classes>
      <class name="testCases.Repossession">
        <methods>
          <include name="Repossession_Peripheral_LienReason_001"/>
        </methods>
      </class>
    </classes>
  </test>
</suite>
