<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="HCA">
  <test name="Test">
    <classes>
      <class name="testCases.Legal">
        <methods>
          <include name="Legal_ConditionType_Judgement_003"/>
        </methods>
      </class>
    </classes>
  </test>
</suite>
